{% extends 'base.html.twig' %}
{% block body %}
    <style>
        footer{
            position: absolute;
        }
    </style>

<section id="banner">
				<div class="inner split">
					<section>
						<h2>Bienvenu sur ..., Site créer par ...</h2>
					</section>
					<section>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.elit, eget viverra nisi interdum vitae,Lorem ipsum dolor sit amet, consectetur adipiscing elit.elit, eget viverra nisi interdum vitae,Lorem ipsum dolor sit amet, consectetur adipiscing elit.elit, eget viverra nisi interdum vitaeLorem ipsum dolor sit amet, consectetur adipiscing elit.elit, eget viverra nisi interdum vitaeLorem ipsum dolor sit amet, consectetur adipiscing elit.elit, eget viverra nisi interdum vitae.</p>
                                            <ul class="actions">
							<li><a href="" class="button special">Voir nos article</a></li>
						</ul>
					</section>
				</div>
			</section>
    {% endblock %}